<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <h1>All Posts</h1>
    <table border=1>
      <thead>
        <tr>
          <th>S.N.</th>
          <th>Title</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.is_active }}</td>
          <td>
            <a href="/posts/edit-post/{{ post.id }}">Edit Post</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
